<!DOCTYPE html>
<html>
<head>
  <title>Noteful</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Log In", new_user_session_path %></li>
      </ul>
    </nav>
    <div>
      <p class="flash"><%= flash.notice %></p>
      <%= yield %>
    </div>
  </div>

</body>
</html>
