<!DOCTYPE html>
<html>
<head>
  <title>Noteful</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Log In", new_user_session_path %></li>
    </ul>
  </nav>
  
  <p class="flash"><%= flash.notice %></p>

  <%= yield %>

</body>
</html>
